body {
    background: url(background.jpg);
    font-family: sans-serif;
}
header {
    background-color: #c67825;
}
header p {
    
}
main p {
    font-size: 50px;
}
main img {
    width: 225px;
    height: 225px;
}
footer {
    background-color: #c67825;
}